*{
            font-family: Papyrus;
        }
        .card{
            display: flex;
            flex-direction: row;
            gap: calc(100vw / 15);
            background-color: blanchedalmond;
            box-sizing: border-box;
            padding: calc(100vw/15);
            padding-top: 10vh;
            padding-bottom: 10vh;
            height:100vh;
        }
        .content{
            display:flex;
            flex-direction: column;
            width: calc(100vw / 15*8);
            height: 100%;
            border-right-width: 1px; 
            border-right-style: solid; /*NECESSARY or else no border will be drawn*/
            border-right-color: brown;
            align-items: center;
            justify-content: space-between;    /*use justify only because it's column and not row. SWITCHED DIRECTION!*/
        }
        .addressant{
            display:flex;
            flex-direction: column;
            width: calc(100vw/ 15*4);
            height: 100%;
            align-items: flex-start; /*puts at top*/
            justify-content: space-between; /* justify content! not align content*/
            box-sizing: border-box; /*or else overflows*/

        }
        .wrapper{
            height:calc(100vh/10*3);
            width:100%;
            display:flex;
            align-items: flex-start;
            justify-content: right;
            padding:0;
        }
        .wrapper img{
            object-fit: cover;
            height: 100%;
            margin:0;
        }
        .address{
            background-color: bisque;
            height:calc(100vh/10*3);
            width: 100%;
            align-content: end;
            text-align: center;
        }

        .rows{
            height: calc(100vh/10*3);
            margin-bottom: calc(100vh/10*0.5);
            box-sizing: border-box;
            width: calc(100vh/15*7);
            
        }

        t.rows { /*every t tag that is inside class rows*/
            margin:0;
            padding:0;

        }
        
        .heading {
            height: calc(100vh/10*2);
            width:100%;
        }
        .content img{
            width: calc(100vw / 15*8);
            height: calc(100vh / 10*2);
            object-fit: cover; /*overflows???*/
        }
        h3{
            font-size: 1.3rem;
            margin:0;
            margin-top: 5px;
            margin-bottom:5px;
        }
        t {
            font-size: 0.8rem;
            margin:0;
            padding:0;
        }
        
        h1{
            margin:0;
            padding:0;
        }